.rn-verifications {
    display:flex;
    flex-direction:column;
    align-items:center;
}

.rn-verifications > * {
    flex-shrink:0;
}

.rn-verifications-item {
    --margin:25px;

    margin-top:var(--margin);
    margin-bottom:var(--margin);
    background:white;
    width:675px;
    max-width:calc(100vw - 20px);
    display:flex;
    flex-direction:column;
    align-items:center;
    border-radius:5px;
    box-shadow:0px 0px 7.5px -4px rgba(0, 0, 0, .25);
    border:1px solid rgba(0, 0, 0, .01);
    padding:15px;
}

.rn-verifications-item-title {
    font-size:2rem;
    text-align:center;
    margin:0;
    margin-bottom:7.5px;
    font-family:"Quicksand";
}

.rn-verifications-article-togglem {
    --margin:7.5px;

    margin-top:var(--margin);
    margin-bottom:var(--margin);
    color:blue;
    cursor:pointer;
    font-size:.95rem;
    transition:1s;
}

.rn-verifications-article-togglem:active {
    transition:0s;
    color:rebeccapurple;
}

.rn-verifications-article-title-preview {
    width:100%;
    padding:15px 8px;
    background:#eff0f1;
    border-radius:5px;
    white-space:wrap;
    font-family:"Quicksand";
}

.rn-verifications-item-submit {
    display:flex;
    align-items:center;
    margin-top:10px;
}

.rn-verifications-item-submit > button {
    --margin:5px;

    margin-left:var(--margin);
    margin-right:var(--margin);
    height:37.5px;
    width:145px;
    position:relative;
    border-radius:3px;
    cursor:pointer;
    background:black;
    color:white;
    text-transform:uppercase;
    font-family:"Quicksand";
}

.rn-verifications-item-submit > button.submit {
    background:#8fda25;
}

.rn-verifications-item-submit > button.reject {
    background:red;
}

.rn-verifications-item-submit > button:before {
    content:'';
    transform:skewX(-15deg);
    height:100%;
    width:0;
    background:white;
    opacity:0;
    position:absolute;
    top:0;
    left:-15px;
    transition:.25s;
}

.rn-verifications-item-submit > button:hover:before {
    opacity:.2;
    width:calc(100% + 20px);
}
