.rn-articledisp-cover {
    position:relative;
    width:725px;
    max-width:calc(100% - 25px);
    display:block;
    margin-left:auto;
    margin-right:auto;
}

.rn-articledisp-title {
    text-align:center;
    font-size:2.75em;
    font-family:"Lato";
}

.rn-articledisp-date {
    text-align:center;
    font-family:"Roboto"!important;
    font-weight:300;
}

.rn-articledisp-date a {
    text-decoration:none;
}
