.rn-create-menu {
    margin-top:10px;
    display:flex;
    flex-direction:column;
    align-items:center;
    margin-left:auto;
    margin-right:auto;
    width:300px;
    position:relative;
}

.rn-create-menu-btn {
    --margin:7.5px;

    color:rgba(0, 0, 0, .85);
    background:white;
    border-radius:5px;
    box-shadow:0px 0px 15px -7.5px rgba(0, 0, 0, .15);
    border:1px solid rgba(0, 0, 0, .01);
    height:45px;
    font-family:"Quicksand";
    width:100%;
    margin-top:var(--margin);
    margin-bottom:var(--margin);
    transition:.15s ease-in-out;
}

.rn-create-menu-btn:hover {
    background:#f6fbfe;
}

.rn-create-menu-btn:first-child {
    margin-top:0;
}

.rn-create-menu-btn:last-child {
    margin-bottom:0;
}

.rn-create-article-cpicker {
    margin-left:auto;
    margin-right:auto;
    margin-top:20px;
    box-shadow:0px 0px 15px -4px rgba(0, 0, 0, .1)!important;
}

.rn-create-article-cadd {
    background:orange;
    color:white;
    border-radius:3px;
    height:37.5px;
    width:145px;
    font-size:.9rem;
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-top:25px;
}

.rn-create-error {
    text-align:center;
}

.rn-create-error.error {
    color:red;
}

.rn-create-error.success {
    color:green;
}

.rn-create-palette {
    display:flex;
    align-items:center;
    justify-content:center;
    margin-top:15px;
}

.rn-create-palette-item {
    --size:24px;
    --margin:7.5px;

    margin-left:var(--margin);
    margin-right:var(--margin);
    height:var(--size);
    width:var(--size);
    position:relative;
    border-radius:50%;
    border:1px solid rgba(0, 0, 0, .1);
}

.rn-create-palette-item:before {
    --mar:3px;
    --tic:2px;

    content:'';
    position:absolute;
    top:50%;
    left:50%;
    margin-right:50%;
    height:calc(100% + var(--mar) + var(--tic));
    width:calc(100% + var(--mar) + var(--tic));
    border:var(--tic) solid black;
    border-radius:50%;
    opacity:0;
    transition:.1s;
    transform:translate(-50%, -50%);
}


.rn-create-palette-item.selected:before {
    opacity:1;
}

.rn-create-palette-cpush {
    --paddinglr:7.5px;
    --paddingud:2.5px;

    margin-top:10px;
    display:block;
    margin-left:auto;
    margin-right:auto;
    font-size:.9rem;
    font-family:"Quicksand";
    border:1px solid rgba(0, 0, 0, .25);
    border-radius:2.5px;
    padding:var(--paddingud) var(--paddinglr) var(--paddingud) var(--paddinglr);
    transition:.15s;
}

.rn-create-palette-cpush:active {
    transition:.1s;
    transform:scale(.95);
}

.rn-create-addfont-it {
    margin-left:auto;
    margin-right:auto;
    display:block;
    text-align:center;
}

.rn-create-addfont-name {
    margin-top:15px;
    margin-bottom:12.5px;
    font-size:2.5em;
    outline:0;
}

.rn-create-addfont-name::placeholder {
    color:black;
    transition:all .15s ease-in-out;
}

.rn-create-addfont-name:focus::placeholder {
    opacity:.5;
}

.rn-create-addfont-execname {
    display:flex;
    align-items:center;
    justify-content:center;
    margin-bottom:15px;
}

.rn-create-addfont-execname > * {
    --margin:5px;

    margin-left:var(--margin);
    margin-right:var(--margin);
}

.rn-create-addfont-execname > input {
    position:relative;
    top:-1px;
    padding:5px;
    background:white;
    border:1px solid rgba(0, 0, 0, .1);
}

.rn-create-addarticle {
    width:100%;
    height:100%;
    display:flex;
    flex-direction:column;
    align-items:center;
    position:relative;
}

.rn-create-addarticle-tools {
    --padding:15px;

    overflow:scroll;
    padding-left:var(--padding);
    padding-right:var(--padding);
    width:calc(100% - var(--padding) * 2);
    display:flex;
    align-items:center;
    justify-content:center;
    flex-shrink:0;
    height:40px;
    background:white;
}

.rn-create-addarticle-tools-btn {
    --size:30px;
    --margin:10px;

    width:var(--size);
    height:var(--size);
    border-radius:2.5px;
    font-size:.95rem;
    color:rgba(0, 0, 0, .75);
    transition:.25s;
    margin-left:var(--margin);
    margin-right:var(--margin);
}

.rn-create-addarticle-tools-btn:hover {
    background:rgba(0, 0, 255, .02);
}

.rn-create-addarticle-tools-btn.active {
    background:rgba(0, 0, 255, .075);
    color:blue;
}

.rn-create-addarticle-workspace {
    height:100%;
    flex-shrink:1;
    overflow:scroll;
    width:100%;
    background:white;
    justify-content:center;
    display:flex;
}

.rn-create-addarticle-workspace > * {
    width:50%;
    font-family:"Roboto";
}

.rn-create-addarticle-workspace__inc__title {
    text-align:center;
}

.rn-create-addarticle-workspace__inc__blockquote {
    --padding:15px;

    padding-top:var(--padding);
    padding-bottom:var(--padding);
    width:100%;
    position:relative;
}

.rn-create-addarticle-workspace__inc__blockquote:before {
    content:'';
    position:absolute;
    top:0;
    left:-13px;
    height:100%;
    width:2.5px;
    background:orange;
    border-radius:2.5px;
}

.rn-create-addarticle-workspace__inc__code {
    --padding:12.5px;
    --margin:15px;

    padding-left:var(--padding);
    padding-right:var(--padding);
    width:calc(100% - 15px);
    background:#eff0f1;
    overflow:scroll;
    border-radius:2.5px;
    margin:0;
    font-family:Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, sans-serif;
    font-size:.75rem;
    white-space:wrap;
    position:relative;
}

.rn-create-addarticle-workspace__inc__code:first-child {
    padding-top:var(--margin);
}

.rn-create-addarticle-workspace__inc__code:last-child {
    padding-bottom:var(--margin);
}

.rn-create-addarticle-addnim__bg {
    height:100vh;
    width:100vw;
    position:fixed;
    top:0;
    left:0;
    background:rgba(0, 0, 0, .25);
    z-index:101;
}

.rn-create-addarticle-addnim {
    position:fixed;
    top:50%;
    left:50%;
    margin-right:50%;
    transform:translate(-50%, -50%);
    margin:0;
    border-radius:2.5px;
    background:white;
    z-index:102;
    padding:15px;
    display:flex;
    flex-direction:column;
    align-items:center;
    max-width:calc(100vw - 15px);
    width:300px;
}

.rn-create-addarticle-addnim__bg,
.rn-create-addarticle-addnim {
    --trans:.15s;

    opacity:0;
    visibility:hidden;
    transition:all var(--trans), visibility var(--trans);
}

.rn-create-addarticle-addnim__bg.active,
.rn-create-addarticle-addnim__bg.active ~ .rn-create-addarticle-addnim {
    transition:all var(--trans), visibility 0s;
    opacity:1;
    visibility:visible;
}

.rn-create-addarticle-addnim-icon {
    --size:45px;

    font-size:1.25rem;
    box-shadow:0px 0px 15px -2.5px rgba(0, 0, 255, .15);
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius:50%;
    background:#E4E3FE;
    color:#5C52FB;
    height:var(--size);
    width:var(--size);
}

.rn-create-addarticle-addnim-title {
    --margin:7.5px;

    margin-top:var(--margin);
    margin-bottom:var(--margin);
    font-family:"Lato";
    font-weight:400;
    text-align:center;
    font-size:1.25rem;
    user-select:none;
}

.rn-create-addarticle-addnim-url {
    height:35px;
    max-width:100%;
    width:200px;
    border-bottom:2px solid gray;
    transition:.1s;
}

.rn-create-addarticle-addnim-url:focus {
    border-color:blue;
}

.rn-create-addarticle-addnim-submit {
    height:35px;
    width:80px;
    border-radius:3px;
    background:#5B53FF;
    color:white;
    /* box-shadow:0px 0px 7.5px -2.5px #5B53FF; */
    font-family:"Lato";
    font-weight:300;
    letter-spacing:.5px;
    font-size:.875rem;
    cursor:pointer;
    margin-top:20px;
}

.rn-create-addarticle-addnim-submit.offline {
    background:#8e8ae9;
    cursor:not-allowed;
}

.rn-create-addarticle-close {
    --gap:15px;

    position:absolute;
    top:var(--gap);
    right:var(--gap);
    font-size:.925rem;
    color:black;
    cursor:pointer;
    opacity:.5;
    transition:.15s;
}

.rn-create-addarticle-close:hover {
    opacity:.9;
}
