.rn-create-menu {
    margin-top:10px;
    display:flex;
    flex-direction:column;
    align-items:center;
    margin-left:auto;
    margin-right:auto;
    width:300px;
    position:relative;
}

.rn-create-menu-btn {
    --margin:7.5px;

    color:rgba(0, 0, 0, .85);
    background:white;
    border-radius:5px;
    box-shadow:0px 0px 15px -7.5px rgba(0, 0, 0, .15);
    border:1px solid rgba(0, 0, 0, .01);
    height:45px;
    font-family:"Quicksand";
    width:100%;
    margin-top:var(--margin);
    margin-bottom:var(--margin);
    transition:.15s ease-in-out;
}

.rn-create-menu-btn:hover {
    background:#f6fbfe;
}

.rn-create-menu-btn:first-child {
    margin-top:0;
}

.rn-create-menu-btn:last-child {
    margin-bottom:0;
}

.rn-create-article-cpicker {
    margin-left:auto;
    margin-right:auto;
    margin-top:20px;
    box-shadow:0px 0px 15px -4px rgba(0, 0, 0, .1)!important;
}

.rn-create-article-cadd {
    background:orange;
    color:white;
    border-radius:3px;
    height:37.5px;
    width:145px;
    font-size:.9rem;
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-top:25px;
}

.rn-create-error {
    text-align:center;
}

.rn-create-error.error {
    color:red;
}

.rn-create-error.success {
    color:green;
}

.rn-create-palette {
    display:flex;
    align-items:center;
    justify-content:center;
    margin-top:15px;
}

.rn-create-palette-item {
    --size:24px;
    --margin:7.5px;

    margin-left:var(--margin);
    margin-right:var(--margin);
    height:var(--size);
    width:var(--size);
    position:relative;
    border-radius:50%;
    border:1px solid rgba(0, 0, 0, .1);
}

.rn-create-palette-item:before {
    --mar:3px;
    --tic:2px;

    content:'';
    position:absolute;
    top:50%;
    left:50%;
    margin-right:50%;
    height:calc(100% + var(--mar) + var(--tic));
    width:calc(100% + var(--mar) + var(--tic));
    border:var(--tic) solid black;
    border-radius:50%;
    opacity:0;
    transition:.1s;
    transform:translate(-50%, -50%);
}


.rn-create-palette-item.selected:before {
    opacity:1;
}

.rn-create-palette-cpush {
    --paddinglr:7.5px;
    --paddingud:2.5px;

    margin-top:10px;
    display:block;
    margin-left:auto;
    margin-right:auto;
    font-size:.9rem;
    font-family:"Quicksand";
    border:1px solid rgba(0, 0, 0, .25);
    border-radius:2.5px;
    padding:var(--paddingud) var(--paddinglr) var(--paddingud) var(--paddinglr);
    transition:.15s;
}

.rn-create-palette-cpush:active {
    transition:.1s;
    transform:scale(.95);
}
