.rn-sections-item {
	--padding:15%;

	padding-left:var(--padding);
	padding-right:var(--padding);
	position:relative;
	margin-top:35px;
}

.rn-sections-item_split {
	width:calc(100vw + var(--padding) / 2 + 10px);
	height:1px;
	position:relative;
	left:calc(var(--padding) * -1 * 2);
	background:rgba(0, 0, 0, .1);
}

.rn-sections-item-title {
	font-family:"Quicksand";
	font-weight:500;
	font-size:1.5rem;
	margin:0;
	text-transform:capitalize;
	text-decoration:none;
	margin-bottom:17.5px;
	color:black;
	display:block;
}

.rn-sections-item-content {
	width:100%;
	margin-top:35px;
}

.rn-sections-item-content.grid {
	display:grid;
	grid-template-columns:repeat(auto-fill, minmax(245px, 425px));
	grid-gap:50px;
}

.rn-sections-item-content.flex {
	display:flex;
	justify-content:space-between;
	flex-wrap:wrap;
}

.rn-sections-item-content-article {
	display:flex;
	flex-direction:column;
	width:385px;
	max-width:100%;
	margin:20px;
}

.rn-sections-item-content-article-title {
	margin:0;
	margin-bottom:12.5px;
	font-size:1.75rem;
	color:black;
	font-family:"Lato";
	font-weight:500;
	text-decoration:none;
}

.rn-sections-item-content-article-content {
	font-weight:100;
	font-family:"Quicksand";
	color:rgba(0, 0, 0, .65);
	font-size:.9rem;
	text-align:left;
	margin:0;
}
